
.background {
    background-color: lightgrey;
}

header {
    background-color: #ffffff;
    padding: 40px;
    border-bottom: solid;
    border-color: #cccccc;
    margin-bottom: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h1 {
    background-color: #4aaaa5;
    color: white;
    font-size: 30px;
    font-weight: bold;
    float: left;
    position: relative;
    padding: 10px;
    top: -27px;
    left: 9%;
}

nav {
    color:#cccccc;
    float: right;
    position: relative;
    right: 10
    
}

.container {
    background-color: lightgray;
    float: relative;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    clear: both;
}

.row {
    background-color: #ffffff;
    padding: 15px;
}

.aboutMe .row {
    border-bottom: solid;
    border-color: #cccccc;
}

h2 {
    color:#4aaaa5;
    font-weight: bold;
    border-color: #cccccc;
    font-size: 30px;
}

.bio .row {
    background-color: #ffffff;
}

p {
    color: grey;
}

img {
    display: block;
    width: 30%;
    float: left;
    padding: 0px 10px 10px 0px;
}

.clearfix {
    overflow: auto;
}

footer {
    background-color: #666666;
    border-top: solid;
    border-color: #4aaaa5;
    border-width: 5px;
    padding: 15px;
    font-size: 8px;
    color: black;
    text-align: center;
    color: #ffffff;
    margin-top: 60px;
}
